{% extends 'base.html' %}

{% block page_content %}
    <div class="row">
        <div class="row justify-content-start">
            <div class="col-4">
                <h3>{{ product.title }}</h3>
                <h6>Опубликовано: {{ product.published.strftime('%d.%m.%Y %H:%M') }}</h6>
                <img src="{{ product.link_photo }}" height="280" weight="280">
                <hr>
                <p><em>Адрес: {{ product.address }}</em></p>
                <hr>
                <p>Описание: {{ product.description }}</p>
            </div>
            <div class="col-4">
                <h4>{{ product.price }} ₽</h4>
                <hr>
                <p style="color: blue;"><b>{{ user.name }}</b></p>
                <p>{{ user.email }}</p>
                <hr>
                <p>№{{ product.avito_id }}</p>
            </div>
        </div>
    </div>
{% endblock page_content %}
