{% extends 'base.html' %}

{% block page_content %}
    <div class="row">
        <div class="row justify-content-start">
            <div class="col-md-4">
                <h3>{{ product.title }}</h3>
                <h6>Опубликовано: {{ product.published.strftime('%d.%m.%Y %H:%M') }}</h6>
                <img src="{{ product.get_photo_link() }}" height="280" weight="280">
                <hr>
                <p><em>Адрес: {{ product.address }}</em></p>
                <hr>
                <p>Описание: {{ product.description }}</p>
            </div>
            <div class="col-4">
                <h4>{{ product.price }} ₽</h4>
                <hr>
                <p style="color: blue;"><b>Автор: <a href="{{ url_for('profile.user_profile', user_id=product.user_id) }}">{{ user.name }}</a></b></p>
                <p>{{ user.email }}</p>
                <hr>
                <p>Объявление: №{{ product.id }}</p>
                {% if user == current_user %}
                    <div style="overflow:auto">        
                        <a style="margin: 0 1px" href="{{ url_for('post.edit_product', user_id=user.id, product_id=product.id) }}" class="btn btn-primary float-end" id="button"  
                        name="button" type="button">Редактировать</a> 
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row justify-content-start">
            <div class="col-md-8">
                <hr>
                {% if product.comments %}
                    <h3>Комментарии({{ product.comments_count() }}):</h3>
                    {% for comment in product.comments %}
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">{{ comment.text }}</p>
                                <p class="card-text">
                                    <small>Опубликовано: {{ comment.created.strftime('%d.%m.%Y') }} | 
                                        Автор:  
                                        <img src="{{ comment.user.get_avatar_link() }}" width="25" height="25" class="d-inline-block align-text-top rounded-circle">
                                        <a href="{{ url_for('profile.user_profile', user_id=product.user_id) }}">{{ comment.user.name }}</a></small>
                                </p>
                            </div>
                        </div>
                        <br>
                    {% endfor %}
                {% endif %}
                <br>
                {% if current_user.is_authenticated %}
                    <form action="{{ url_for('main.add_comment') }}" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        {{ form.comment_text.label }}
                        {{ form.comment_text() }}
                    </div>
                    {{ form.submit() }}
                </form>
                {% else %}
                    <p><a href="{{ url_for('auth.login', next=request.full_path)) }}">Авторизуйтесь</a>,
                        чтобы оставить комментарий</p>
                {% endif %}
                
            </div>
        </div>
    </div>
{% endblock page_content %}
